Remove fields from update request

I try to use this provider to connect to an REST-API that has a resource with some immutable fields. 

After the initial creation of the resource (POST), all subsequent requests to update the resource (PUT) are not allowed to include those immutable fields anymore. If any of the immutable fields are still part of the update request, the request will be rejected.

Would it be possible to add either:
- an option for `update_body_patches` so it allows to delete existing fields from the request. Maybe something like:
  ```hcl
  update_body_patches = [
    path = "immutable_field"
    op = "remove" # inspired by RFC 6902, Section 4
  ]
- an `update_body` attribute similar to the `delete_body`

@Eusebius1920 I've add the `removed` attribute for this case, do you mind to verify this with your scenario? Once verified, I'll make a release.

I compiled and tested the provider: Nice, works like a charm!

Thank you very much for your efforts!